* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-bottom: 100px;
}
.container-main {
    display: flex;
}

#col-left {
    width: 250px;
    background-color: black;
    height: calc(100% - 100px);
    position: fixed;
    top: 0;
    left: 0;
}

#main-part {
    width: calc(100% - 250px);
    background-color: #141922;
    height: calc(100% - 100px);
    margin-left: 250px;
}

/* SECTION LEFT SPOTIFY BAR */

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.up {
    width: 250px;
    min-height: 200px;
    /* background-color: aqua; */
}
.down {
    width: 250px;
    height: 200px;
    display: flex;
    
    /* background-color: blueviolet; */
}
#logo-structure {
    display: flex;
    align-items: center;
    padding: 10px;
}
#logo {
    width: 165px;
    padding-bottom: 10px;
}
#text-logo {
    text-decoration: none;
    
}
.icon-structure {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
}
.icon {
    filter: invert(0.8);
    width: 30px;
}
.text-icon {
    color: #717171;
    text-decoration: none;
    padding-left: 5px;
    font-weight: bold;
    font-size: 15px;    
}
.space-playlist {
    margin-bottom: 10px;
}
#playlist {
    color: white;
    font-weight: bold;
    padding-left: 14px;
}
#create-playlist {
    display: flex;
    align-items: center;
    padding: 14px;
}
#plus {
    background-color: #a3a3a3;
    padding: 10px 12px;
}
.nome-playlist {
    color: #717171;
    list-style: none;
    font-size: 14px; 
    padding-left: 14px;
    line-height: 24px;
}
#down-align {
    align-self: flex-end;
    width: 100%;
}

#install {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 10px;
    /* border-bottom: solid 1px #717171; */
}
#install-img {
    filter: invert(0.8);
    width: 15px;
}
#text-install {
    color: #717171;
    text-decoration: none;
    padding-left: 5px;
    font-size: 12px;
}
#text-profile {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
}
#lign {
    color: #717171;
    width: 100%;
}
#lign-mesure {
    padding: 0px 14px;
    margin-bottom: 10px;
}
#profile-img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
#background-profile {
    background-color: #717171;
    width: 25px;
    height: 25px;
    padding-left: 3px;
    border-radius: 50%;
}
/* TRASPARENCY SECTION UPGRADE */

#upgrade {
    width: calc(100% - 250px);
    height: 100px;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    justify-content: flex-end;
}
#section-upgrade {
    width: 250px;
    height: 100px;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
}
#tag-upgrade {
    text-decoration: none;
    color: white;
    border: solid 1.5px;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
    margin-left: 20px;
}

/* SCROLLING SECTION */

#generi {
    width: 60%;
    min-height: 40px;
    /* background-color: bisque; */
    margin: 100px auto 0px;
}
.container-recently {
    display: flex;
    width:calc(100% - 40px);
    margin: 0 auto;
    margin-top: 10px;
    min-height: 200px;
    /* background-color: rgb(29, 6, 121); */
    justify-content: space-between;
    margin-bottom: 20px;
}
.card-music-recently {
    width: calc((100% / 6) - 15px);
    /* background-color: antiquewhite; */
}
.container-img-album {
    width: 100%;
    /* height: 70%; */
    margin-bottom: 10px;
}
.img-album {
    width: 100%;
}
.name-song, .name-song2 {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.container-img-album2 {
    margin-bottom: 34px;
}
.sub-song {
    color: #7d7f84;
    font-size: 13px;
    text-align: center;
}
.container-perte, .container-popular {
    display: flex;
    margin: 0 auto;
    width:calc(100% - 40px);
    min-height: 200px;
    /* background-color: aquamarine; */
}
.card-music-perte, .card-music-popular {
    width: calc((100% / 6) - 15px);
    /* background-color: beige; */
    margin-right: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.round {
    border-radius: 50%;
}
.nav-main {
    list-style: none;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 40px;
    align-items: center;
    color: #7d7f84;
    font-weight: bold;
    flex-wrap: wrap;
}
h2 {
    color: white;
    margin-left: 20px;
}
.sub {
    color: #7d7f84;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#small-h2 {
    color: white;
    font-size: 20px;
}


/* SECTION TOOLS */

.container-tools {
    background-color: #282828;
    height: 100px;
    width: 100vw;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
   
}
.left-tools {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
}
#current-song {
    height: 50%;
    margin-left: 10px;
}
#img-current {
    width: 50px;
}
#info-brano {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.fa-heart, .fa-folder, .fa-bars, .fa-display, .fa-volume-high {
    color: white;
}
.heart {
    margin-left: 30px;
    margin-right: 5px;
}
#font-artist {
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#font-brano {
    font-size: 11px;
    color: #848484;
}
.middle-tools {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.up-tools {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
}
.down-tools {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.fa-shuffle, .fa-backward-step, .fa-circle-play, .fa-forward-step, .fa-rotate-right {
    color: white;
    margin-right: 10px;
}
.song-time {
    font-size: 12px;
    color: white;
}
.song-progress {
    height: 4px;
    width: 400px;
    background-color: #717171;
    border-radius: 15%;
    position:relative;
    z-index:1;
    margin-right: 10px;
    margin-left: 10px;
}
.song-progress::before {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    content:"";
    height: 100%;
    width: 20%;
    background-color: white;
}
.right-tools {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fa-bars, .fa-display, .fa-volume-high {
    margin-right: 10px;
}
.volume-bar {
    height: 4px;
    width: 100px;
    background-color: #717171;
    border-radius: 15%;
    position:relative;
    z-index:1;
    margin-right: 10px;
}
.volume-bar::before {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    content:"";
    height: 100%;
    width: 20%;
    background-color: white;
}